<app-wrap-hero class="services-hero"
  [imagebackground]="'./assets/images/contact-hero.jpg'"
  [horizontalAlign]="'left'">
</app-wrap-hero>
<app-wrap-description [gridCols]="gridCols" [spanCol1]="spanCol1" [spanCol2]="spanCol2" [startCol2]="startCol2">
</app-wrap-description>
<app-wrap-cards [dataCards]="dataCards" [nCards]="nCards">
</app-wrap-cards>

<div class="grid md:grid-cols-4 my-10 mb-24 mx-4 lg:mx-10">
  <div class="md:col-start-2 md:col-span-2">
    <app-call-to-action></app-call-to-action>
  </div>
</div>
