<app-wrap-hero 
  [imagebackground]="'./assets/images/sourcing-global-hero.jpg'"
  [horizontalAlign]="'left'"
  [minHeight]="' '"
  [fontSize]="'text-4xl md:text-[4rem]'"
  [leading]="'md:leading-[4.2rem]'"
  [headTitle]="'HEADER_TITLE'">
</app-wrap-hero>
<app-wrap-description
  id="about-us"
  [gridCols]="gridCols"
  [spanCol1]="spanCol1"
  [spanCol2]="spanCol2"
  [startCol2]="startCol2"
  appScrollSection="one">
</app-wrap-description>

<div class="container-fluid">
  <section class="container px-4 lg:px-6 max-w-[96rem] pt-28 pb-10">
    <div class="flex justify-center mb-12">
      <h2 class="flex text-gray text-3xl text-center title_border relative pb-3">
        {{ 'WHAT_IS_GLOBAL_PEOPLE_SOURCING.TITLE' | translate}}
      </h2>
    </div>
    <p class="text-lg">{{ 'WHAT_IS_GLOBAL_PEOPLE_SOURCING.TEXT' | translate}}</p>
  </section>

  <section class="container px-4 lg:px-10 max-w-[96rem] py-12">
    <div class="flex justify-center mb-10">
      <h2 class="flex text-gray text-3xl text-center title_border relative pb-3">
        {{ 'WHY_DO_GLOBAL_SOURCING_WITH_US.TITLE' | translate}}
      </h2>
    </div>
    <app-wrap-cards 
      [dataCards]="globalSourcingCards"
      [nCards]="nCards"
      [titlePosition]="'top'"
    ></app-wrap-cards>
  </section>

  <section class="container px-4 lg:px-6 max-w-[96rem] pb-28">
    <div class="flex justify-center mb-12">
      <h2 class="flex text-gray text-3xl text-center title_border relative pb-3">
        {{ 'ADDITIONALLY.TITLE' | translate}}
      </h2>
    </div>
    <app-wrap-cards 
      [dataCards]="additionallyCards"
      [nCards]="nCards"
      [titlePosition]="'top'"
      [imageSize]="'w-full'"
    ></app-wrap-cards>
  </section>
</div>


<div class="container-fluid">
  <section class="container px-4 lg:px-6 max-w-[96rem] py-12">
    <div class="flex justify-center mb-10">
      <h2 class="flex text-gray text-3xl text-center title_border relative pb-3">
        {{ 'PREVIEW_VIDEO.TITLE' | translate}}
      </h2>
    </div>
    
    <!-- {{ playerState$ | async }} -->
    <div class="video-container_video mb-10">
      <img src="./assets/images/home-video-cover.png" alt="" [ngClass]="[!videoPlay && !videoPause ? 'show' : 'hide', 'fallback-video']">
      <vg-player (onPlayerReady)="onPlayerReady($event)">
        <vg-overlay-play vgFor="globalEsVideo"></vg-overlay-play>
        
        <vg-controls [vgAutohide]="true" [vgAutohideTime]="5">
          <vg-play-pause vgFor="globalEsVideo"></vg-play-pause>
          <vg-time-display vgFor="globalEsVideo" vgProperty="current" vgFormat="mm:ss"></vg-time-display>
          <vg-scrub-bar vgFor="globalEsVideo" style="pointer-events: none;"></vg-scrub-bar>
          <vg-time-display vgFor="globalEsVideo" vgProperty="total" vgFormat="mm:ss"></vg-time-display>
          <vg-track-selector vgFor="globalEsVideo" class="track-selector"></vg-track-selector>
          <vg-mute vgFor="globalEsVideo"></vg-mute>
          <vg-volume vgFor="globalEsVideo"></vg-volume>
          <vg-fullscreen vgFor="globalEsVideo"></vg-fullscreen>
        </vg-controls>

        <video [vgMedia]="$any(media)" #media id="globalEsVideo" preload="auto">
            <source src="./assets/video/global/global-sourcing_es.mp4" type="video/mp4">
            <source src="./assets/video/global/global-sourcing_es.ogv" type="video/ogv">
            <source src="./assets/video/global/global-sourcing_es.webm" type="video/webm">

            <track kind="subtitles" label="English" src="./assets/video/global/subtitles/global_sourcing_es_sub_ingles.vtt" srclang="en">
            <track kind="subtitles" label="Spanish" src="./assets/video/global/subtitles/global-sourcing_es_sub_espanol.vtt" srclang="es">
        </video>
      </vg-player>
    </div>

  </section>
</div>