<app-wrap-hero 
  [imagebackground]="'./assets/images/its-hero.jpg'"
  [horizontalAlign]="'left'"
  [minHeight]="' '"
  [fontSize]="'text-4xl md:text-[4rem]'"
  [leading]="'md:leading-none'">
</app-wrap-hero>
<app-wrap-description
  id="about-us"
  [gridCols]="gridCols"
  [spanCol1]="spanCol1"
  [spanCol2]="spanCol2"
  [startCol2]="startCol2"
  appScrollSection="one">
</app-wrap-description>


<div class="container-fluid">
  <section class="container px-4 lg:px-10 max-w-[96rem] py-12">
    <div class="flex justify-center mb-10">
      <h2 class="flex text-gray text-3xl text-center title_border relative pb-3">
        {{ 'OUR_SPECIALIZATION_IN_ITS.TITLE' | translate}}
      </h2>
    </div>
    <app-wrap-cards [dataCards]="dataCards" [nCards]="nCards" [titlePosition]="'top'"></app-wrap-cards>
  </section>
</div>

<div class="container-fluid">
  <section class="container px-4 lg:px-10 max-w-[96rem] py-12">
    <div class="flex justify-center mb-10">
      <h2 class="flex text-gray text-3xl text-center title_border relative pb-3">
        {{ 'OUR_SPECIALIZATION_IN_ITS_2.TITLE' | translate}}
      </h2>
    </div>
    <p>{{ 'OUR_SPECIALIZATION_IN_ITS_2.DESCRIPTION' | translate}}</p>
    <app-wrap-cards [dataCards]="dataCards2" [nCards]="nCards" [titlePosition]="'top'"></app-wrap-cards>
  </section>
</div>

<div class="container-fluid">
  <section class="container px-4 lg:px-6 max-w-[96rem] py-12">
    <div class="flex justify-center mb-32">
      <h2 class="flex text-gray text-3xl text-center title_border relative pb-3">
        {{ 'ITS_SOFTWARE_DEVELOPED.TITLE' | translate}}
      </h2>
    </div>
    <!-- <app-wrap-large-card [dataLargeCards]="dataLargeCards"></app-wrap-large-card> -->
    <!-- {{ dataLargeCards | json }} -->
    <div *ngFor="let card of dataLargeCards">
      <div class="flex flex-row flex-wrap mb-12">
        <div class="flex flex-col w-fit md:w-2/3 md:pr-5">
          <h4 [innerHTML]="card.title | translate" class="flex text-gray text-xl text-center title_border_top relative pb-3 font-medium"></h4>
          <p [innerHTML]="card.text | translate"></p>
        </div>
        <div class="flex flex-col w-fit md:w-1/3 md:pl-5" [id]="card.id_en">
          <img *ngIf="card.image && !card.video_mp4_en && !card.video_mp4_es" [src]="card.image" />
          
          <div class="video-container_video" *ngIf="translate.currentLang == 'en' && card.video_mp4_en">
            <img [src]="card.image" (click)="toggleVideo(card.id_en)" alt="" [ngClass]="{'show': isVideoCoverVisible(card.id_en), 'hide': isVideoPlaying(card.id_en) || isVideoPaused(card.id_en) }" class="fallback-video">
            <vg-player (onPlayerReady)="onPlayerReady($event, card.id_en)">
              <vg-overlay-play [vgFor]="card.id_en"></vg-overlay-play>
      
              <!-- Controles para el video en inglés -->
              <vg-controls [vgAutohide]="true" [vgAutohideTime]="5">
                <vg-play-pause [vgFor]="card.id_en"></vg-play-pause>
                <vg-time-display [vgFor]="card.id_en" vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                <vg-scrub-bar [vgFor]="card.id_en" style="pointer-events: none;"></vg-scrub-bar>
                <vg-time-display [vgFor]="card.id_en" vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                <vg-track-selector [vgFor]="card.id_en" class="track-selector"></vg-track-selector>
                <vg-mute [vgFor]="card.id_en"></vg-mute>
                <vg-volume [vgFor]="card.id_en"></vg-volume>
                <vg-fullscreen></vg-fullscreen>
              </vg-controls>
      
              <video [vgMedia]="$any(media)" #media [id]="card.id_en" preload="auto">
                <source [src]="card.video_mp4_en" type="video/mp4">
                <source [src]="card.video_ogv_en" type="video/ogv">
                <source [src]="card.video_webm_en" type="video/webm">
      
                <track kind="subtitles" label="English" [src]="card.subtitle_en" srclang="en">
                <track kind="subtitles" label="Spanish" [src]="card.subtitle_es" srclang="es">
              </video>
            </vg-player>
          </div>
          <div *ngIf="translate.currentLang == 'en' && !card.video_mp4_en && !card.image">Video no encontrado</div>
          
          <div class="video-container_video" *ngIf="translate.currentLang == 'es' && card.video_mp4_es">
            <img [src]="card.image" (click)="toggleVideo(card.id_es)" alt="" [ngClass]="{'show': isVideoCoverVisible(card.id_es), 'hide': isVideoPlaying(card.id_es) || isVideoPaused(card.id_es) }" class="fallback-video">
            <vg-player (onPlayerReady)="onPlayerReady($event, card.id_es)">
              <vg-overlay-play [vgFor]="card.id_es"></vg-overlay-play>
      
              <!-- Controles para el video en inglés -->
              <vg-controls [vgAutohide]="true" [vgAutohideTime]="5">
                <vg-play-pause [vgFor]="card.id_es"></vg-play-pause>
                <vg-time-display [vgFor]="card.id_es" vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                <vg-scrub-bar [vgFor]="card.id_es" style="pointer-events: none;"></vg-scrub-bar>
                <vg-time-display [vgFor]="card.id_es" vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                <vg-track-selector [vgFor]="card.id_es" class="track-selector"></vg-track-selector>
                <vg-mute [vgFor]="card.id_es"></vg-mute>
                <vg-volume [vgFor]="card.id_es"></vg-volume>
                <vg-fullscreen></vg-fullscreen>
              </vg-controls>
      
              <video [vgMedia]="$any(media)" #media [id]="card.id_es" preload="auto">
                <source [src]="card.video_mp4_es" type="video/mp4">
                <source [src]="card.video_ogv_es" type="video/ogv">
                <source [src]="card.video_webm_es" type="video/webm">
      
                <track kind="subtitles" label="English" [src]="card.subtitle_en" srclang="en">
                <track kind="subtitles" label="Spanish" [src]="card.subtitle_es" srclang="es">
              </video>
            </vg-player>
          </div>
          <div *ngIf="translate.currentLang == 'es' && !card.video_mp4_es && !card.image">Video no encontrado</div>

        </div>
      </div>
    </div>
  </section>
</div>

<div class="container-fluid">
  <section class="container px-4 lg:px-10 max-w-[96rem] py-12">
    <div class="flex justify-center mb-10">
      <h2 class="flex text-gray text-3xl text-center title_border relative pb-3">
        {{ 'MORE_ITS_SERVICES_AND_PRODUCTS' | translate}}
      </h2>
    </div>

    <!-- <div *ngIf="translate.currentLang == 'en'">
      <div class="video-container">
        <iframe class="video-youtube" width="560" height="315" src="https://www.youtube.com/embed/vd5awm8Ph4g?si=ZYyfwig0V6rDfGIO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    <div *ngIf="translate.currentLang == 'es'">
      <div class="video-container">
        <iframe class="video-youtube" width="560" height="315" src="https://www.youtube.com/embed/nfsKsuESAns?si=kn9N_4hmhcbUTCAu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div> -->

    <!-- {{ playerState$ | async }} -->
    <div class="video-container_video" *ngIf="translate.currentLang == 'en'">
      <img src="./assets/images/ITS_video_media.jpg" (click)="toggleVideo('card.id_en')" alt="" [ngClass]="{'show': isVideoCoverVisible('card.id_en'), 'hide': isVideoPlaying('card.id_en') || isVideoPaused('card.id_en') }" class="fallback-video" >
      <vg-player (onPlayerReady)="onPlayerReady($event, 'card.id_en')">
        <vg-overlay-play vgFor="card.id_en"></vg-overlay-play>
    
        <!-- Controles para el video en inglés -->
        <vg-controls [vgAutohide]="true" [vgAutohideTime]="5">
          <vg-play-pause vgFor="card.id_en"></vg-play-pause>
          <vg-time-display vgFor="card.id_en" vgProperty="current" vgFormat="mm:ss"></vg-time-display>
          <vg-scrub-bar vgFor="card.id_en" style="pointer-events: none;"></vg-scrub-bar>
          <vg-time-display vgFor="card.id_en" vgProperty="total" vgFormat="mm:ss"></vg-time-display>
          <vg-track-selector vgFor="card.id_en" class="track-selector"></vg-track-selector>
          <vg-mute vgFor="card.id_en"></vg-mute>
          <vg-volume vgFor="card.id_en"></vg-volume>
          <vg-fullscreen vgFor="card.id_en"></vg-fullscreen>
        </vg-controls>
    
        <video [vgMedia]="$any(media)" #media id="card.id_en" preload="auto">
            <source src="./assets/video/its/ITS_en.mp4" type="video/mp4">
            <source src="./assets/video/its/ITS_en.ogv" type="video/ogv">
            <source src="./assets/video/its/ITS_en.webm" type="video/webm">
    
            <track kind="subtitles" label="English" src="./assets/video/its/subtitles/its_en_sub_en.vtt" srclang="en">
            <track kind="subtitles" label="Spanish" src="./assets/video/its/subtitles/its_en_sub_es.vtt" srclang="es">
        </video>
      </vg-player>
    </div>
    
    <div class="video-container_video" *ngIf="translate.currentLang == 'es'">
      <img src="./assets/images/ITS_video_media.jpg" (click)="toggleVideo('itsEsVideo')" alt="" [ngClass]="{'show': isVideoCoverVisible('itsEsVideo'), 'hide': isVideoPlaying('itsEsVideo') || isVideoPaused('itsEsVideo') }" class="fallback-video">
      <vg-player (onPlayerReady)="onPlayerReady($event, 'itsEsVideo')">
        <vg-overlay-play vgFor="itsEsVideo"></vg-overlay-play>
    
        <!-- Controles para el video en español -->
        <vg-controls [vgAutohide]="true" [vgAutohideTime]="5">
          <vg-play-pause vgFor="itsEsVideo"></vg-play-pause>
          <vg-time-display vgFor="itsEsVideo" vgProperty="current" vgFormat="mm:ss"></vg-time-display>
          <vg-scrub-bar vgFor="itsEsVideo" style="pointer-events: none;"></vg-scrub-bar>
          <vg-time-display vgFor="itsEsVideo" vgProperty="total" vgFormat="mm:ss"></vg-time-display>
          <vg-track-selector vgFor="itsEsVideo" class="track-selector"></vg-track-selector>
          <vg-mute vgFor="itsEsVideo"></vg-mute>
          <vg-volume vgFor="itsEsVideo"></vg-volume>
          <vg-fullscreen vgFor="itsEsVideo"></vg-fullscreen>
        </vg-controls>
    
        <video [vgMedia]="$any(media)" #media id="itsEsVideo" preload="auto">
            <source src="./assets/video/its/ITS_es.mp4" type="video/mp4">
            <source src="./assets/video/its/ITS_es.ogv" type="video/ogv">
            <source src="./assets/video/its/ITS_es.webm" type="video/webm">
    
            <track kind="subtitles" label="English" src="./assets/video/its/subtitles/its_es_sub_en.vtt" srclang="en">
            <track kind="subtitles" label="Spanish" src="./assets/video/its/subtitles/its_es_sub_es.vtt" srclang="es">
        </video>
      </vg-player>
    </div>
    

  </section>
</div>

<!-- <div class="grid md:grid-cols-4 my-10 mb-24 mx-4 lg:mx-10">
  <div class="md:col-start-2 md:col-span-2">
    <app-call-to-action></app-call-to-action>
  </div>
</div> -->